.App {
  width:100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #dec9c9;
  color: #000000;
}

.goods-title {
  text-align: center;
  margin: 40px 0 30px 0;
  font-size: 28px;
}

.goods-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  margin-bottom: 50px;
}