* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #000000;
  background-color: #dec9c9;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style-position: inside;
}